body {
    font-family: 'Zilla Slab', serif;
}

.live-search-wrapper .ls-container {
    max-width: 1000px;
    margin: 100px auto;
    user-select: none;
    padding: 0 20px;
}

.live-search-wrapper .ls-container .demo-box {
    margin: 210px 0 229px;
}

.live-search-wrapper .ls-container .demo-box .ls-overlay {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    transition: all 0.2s linear;
}

.live-search-wrapper .ls-container .demo-box .ls-overlay.active {
    background: rgba(116, 185, 255, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.live-search-wrapper .ls-container .demo-box h1 {
    position: relative;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    margin: 32px;
}

.live-search-wrapper .ls-container .demo-box .live-search-form {
    position: relative;
    width: 100%;
}

.live-search-wrapper .ls-container .demo-box .live-search-form .search {
    display: inline-block;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 12px 22px 13px;
    color: #000000;
    outline: none;
}

.live-search-wrapper .ls-container .demo-box .live-search-form .search::placeholder {
    font-family: 'Zilla Slab', serif;
    color: #6E6E6E;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: left;
    z-index: 2;
}

.live-search-wrapper .ls-container .demo-box .live-search-form .ls-icon {
    position: absolute;
    top: 16px;
    right: 22px;
    bottom: 13px;
}

.live-search-wrapper .ls-container .demo-box .live-search-form .ls-icon img {
    width: 15px;
    height: 15px;
}

.live-search-wrapper .ls-container .demo-box .live-search-form .drop-container {
    position: absolute;
    transform: translateY(-5px);
    visibility: hidden;
    opacity: 0;
    background-color: white;
    transition: all .3s;
    border-radius: 3px;
    border: solid 1px;
    top: 100%;
    left: 0;
    min-width: 100%;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px 0;
}

.live-search-wrapper .ls-container .demo-box .live-search-form .drop-container.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(5px);
}

.live-search-wrapper .ls-container .demo-box .live-search-form .drop-container .list {
    cursor: pointer;
}

.live-search-wrapper .ls-container .demo-box .live-search-form .drop-container .list li {
    padding: 9px 22px 12px;
}

.live-search-wrapper .ls-container .demo-box .live-search-form .drop-container .list li:hover {
    background: #74B9FF;
}

.live-search-wrapper .ls-container .demo-box .live-search-form .empty-msg {
    display: none;
}

.live-search-wrapper .ls-container .demo-box .live-search-form .empty-msg.active {
    display: block;
}

.live-search-wrapper .ls-container .live-search-documentation {
    z-index: 1;
}

.live-search-wrapper .ls-container .live-search-documentation h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
}

.live-search-wrapper .ls-container .live-search-documentation table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 21px;
    border: 1px solid;
}

.live-search-wrapper .ls-container .live-search-documentation table tbody {
    vertical-align: middle;
}

.live-search-wrapper .ls-container .live-search-documentation table tbody td {
    padding: 13px 0 23px;
    border: 1px solid;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
}

.live-search-wrapper .ls-container .live-search-documentation table thead {
    background: rgba(116, 185, 255, 0.2);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
}

.live-search-wrapper .ls-container .live-search-documentation table thead th {
    padding: 19px 87px 22px 79px;
    border: 1px solid;
}